#statusList {
    border-collapse: collapse;
    width: 100%;
}

#statusList th, td {
    text-align: left;
    padding: 8px;
}  

#statusList tr:nth-child(even){background-color: #f2f2f2}

#statusList th {
    background-color: #00aeef;
    color: white;
}

#statusList tr {
    border-bottom:1px solid rgba(0,0,0,0.1);
}

#statusList td {
   border-left:1px solid rgba(0,0,0,0.1);
}

.end-cell {
     border-right: 1px solid rgba(0,0,0,0.1);
}

#search-container {
    margin-bottom:10px;
}

#search-containe input {
    padding:10px;
}

