#main-container {
    width:80%;
    display: block;
    margin:30px auto;
}

#statusList {
    border-collapse: collapse;
    width: 100%;
    margin:30px auto;
   
}

#statusList th, td {
    text-align: left;
    padding: 8px;
    border:2px solid rgba(0,0,0,0.3);
}  

#statusList th {
    background-color: #b62eff;
}

#search-container {
    margin-bottom:10px;
}

#search-containe input {
    padding:10px;
}

.is-not-safe{
    background-color:rgba(255,77,46, 0.8);
    color:#1b1c1b;
    font-weight: bold;;
}

.is-safe{
    background-color:rgba(119,255,46, 0.8);
    color:#1b1c1b;
    font-weight: bold;
}

tfoot {
    background-color: #b62eff;
}

