#main-container {
    width:80%;
    display: block;
     margin: auto;
}

#statusList {
    border-collapse: collapse;
    width: 100%;
    margin:30px auto;
    
   
}

#statusList th, td {
    text-align: left;
    padding: 8px;
    border:2px solid rgba(0,0,0,0.3);
}  

#statusList th {
    background-color: #b62eff;
}


.is-not-safe{
    background-color:rgba(255,77,46, 0.8);
    color:#1b1c1b;
    font-weight: bold;;
}

.is-safe{
    background-color:rgba(119,255,46, 0.8);
    color:#1b1c1b;
    font-weight: bold;
}

tfoot {
    background-color: #b62eff;
}


 #search {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

header h1 {
  
    
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

#search-container {
    overflow: hidden;
  background-color: #e9e9e9;
}

.search {
    float: left;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 10px ;
}

#search{
    padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

#search-container{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
}

.footer {
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e9e9e9;
    color: rgb(0, 0, 0);
    text-align: center;
}
